h1{
  text-align: center;
}
p{
  text-align: center;
  font-size: 0.85em;
  margin: 0px;
  padding: 10px;
  max-width: 80%;
  margin: auto;
  line-height: 1.2rem;
}
main{
  background-color: #eee;
  border-radius: 5px;
  padding: 50px 10px;
  margin: auto;
  max-width: 70%;
  font-family: sans-serif;
}