nav{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 2rem;
}
nav a{
  background-color: #32b9a2;
  padding: 5px;
  border-radius: 5px;
}
nav a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
}
nav a:hover {
  box-shadow: -3px -3px 5px #888;
}